<h3><i class="fa-solid fa-briefcase"></i> JobFinder</h3>
<div class="section">
    <p class="lead">
        Use this app to find your dream job! Sign in with your GitHub account to get started.
    </p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log in with Google
    </a>
</div>